<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Secret Santa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/main.css" />
</head>

<body>
    <div>
        <form id="roll" action="/roll" method="post">
            <button class="btn striped-shadow white"><span>Roll</span></button>
        </form>
        <form action="/action" method="post" id="action">
            <button class="btn striped-shadow blue"><span>Action</span></button>
        </form>
        <form action="/rules" method="post" id="rules">
            <button class="btn striped-shadow dark"><span>Rules</span></button>
        </form>
    </div>
    <div id="roll-outcome">
    </div>

</body>

</html>

<script src="assets/js/index.js"></script>
<script>
    window.onload = ()=> {
        const roomName = Cookies.get('room')
        init(roomName);
      };
</script>
