<!DOCTYPE html>
<html>

<% include partials/head %>
<link rel="stylesheet" type="text/css" media="screen" href="../assets/css/main.css" />

<body>
    <div>
        <form id="roll" action="/roll" method="post">
            <button class="btn striped-shadow white"><span>Roll</span></button>
        </form>
        <form action="/action" method="post" id="action">
            <button class="btn striped-shadow blue"><span>Action</span></button>
        </form>
        <form action="/rules" method="post" id="rules">
            <button class="btn striped-shadow dark"><span>Rules</span></button>
        </form>
    </div>
    <div id="roll-outcome">
    </div>

    <div id="player-list">
        <ul>
        <% for(var i=0; i<playerList.length; i++) {%>
            <li><%= playerList[i] %></li>
        <% } %>    
        </ul>
    </div>

</body>

</html>

<script src="assets/js/index.js"></script>
<script>
    window.onload = ()=> {
        const gameDetails = Cookies.get('gameDetails')
        init(gameDetails);
      };
</script>
