<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Secret Santa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/game.css" />
</head>

<body>
    <div>
            <% if(status == 'join'){ %>
                <div id="form-main">
                        <div id="form-div">
                            <form class="form" id="join" action="/game?join=true" method="post">
                                <p class="name">
                                    <input name="playerName" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input"
                                        placeholder="Your Name" id="name" />
                                </p>
            
                                <p class="comment">
                                    <input name="gameName" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input"
                                        placeholder="Game Name" id="comment" />
                                </p>
            
                                <div class="submit">
                                    <input type="submit" value="Join" id="button-blue" />
                                    <div class="ease"></div>
                                </div>
                            </form>
                        </div>
                    </div>

              <% } else { %>  
                <div id="form-main">
                        <div id="form-div">
                            <form class="form" id="create" action="/game?create=true" method="post">
            
                                <p class="name">
                                    <input name="playerName" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input"
                                        placeholder="Your Name" id="name" />
                                </p>

                                <p class="gameName">
                                        <input name="gameName" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input"
                                            placeholder="Game Name" id="comment" />
                                </p>
                                <div class="submit">
                                    <input type="submit" value="Create" id="button-blue" />
                                    <div class="ease"></div>
                                </div>
                            </form>
                        </div>
                    </div>
             <% } %>

</body>

</html>

<script src="../assets/js/index.js"></script>