<!DOCTYPE html>
<html>

<% include partials/head %>
<link rel="stylesheet" type="text/css" media="screen" href="../assets/css/game.css" />

<body>
    <div>
            <% if(status == 'join'){ %>
                <div id="form-main">
                        <div id="form-div">
                            <form class="form" id="join" action="/game?join=true" method="post">
                                <p class="name">
                                    <input name="playerName" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input"
                                        placeholder="Your Name" id="name" />
                                </p>
            
                                <p class="comment">
                                    <input name="gameName" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input"
                                        placeholder="Game Name" id="comment" />
                                </p>
            
                                <div class="submit">
                                    <input type="submit" value="Join" id="button-blue" />
                                    <div class="ease"></div>
                                </div>
                            </form>
                        </div>
                    </div>

              <% } else { %>  
                <div id="form-main">
                        <div id="form-div">
                            <form class="form" id="create" action="/game?create=true" method="post">
            
                                <p class="name">
                                    <input name="playerName" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input"
                                        placeholder="Your Name" id="name" />
                                </p>

                                <p class="gameName">
                                        <input name="gameName" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input"
                                            placeholder="Game Name" id="comment" />
                                </p>
                                <div class="submit">
                                    <input type="submit" value="Create" id="button-blue" />
                                    <div class="ease"></div>
                                </div>
                            </form>
                        </div>
                    </div>
             <% } %>

</body>

</html>

<script src="../assets/js/index.js"></script>