<!DOCTYPE html>
<html>


<% include partials/head %>
<link rel="stylesheet" type="text/css" media="screen" href="../assets/css/main.css" />


<body>
    <div>
        <form action="/home/new" method="get" id="game">
            <button class="btn striped-shadow white"><span>New</span></button>
        </form>
        <form action="/home/join" method="get" id="game">
            <button class="btn striped-shadow blue"><span>Join</span></button>
        </form>
    </div>
    <div id="roll-outcome">
    </div>

</body>

</html>

<script src="assets/js/index.js"></script>