<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rules</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/main.css" />
</head>

<body>

    <h1>Round 1 - Distribute</h1>
    <h2>Distribute gifts until all gifts are distributed.</h2>

    <ul>
        <li>0: Grab 1 gift from the pile (leave wrapped).</li>
        <li>1: Grab 2 gift from the pile for you and someone else (leave wrapped). </li>
        <li>2: The next person is skipped </li>
        <li>3: Grab a gift from the pile and give it to someone else (leave wrapped). </li>
        <li>4: Order reverses </li>
        <li>5: Grab a gift from the pile and unwrap it. </li>
    </ul>

    <h1>Round 2 - Unwrapping</h1>
    <h2>Until all gifts are unwrapped and distributed. Order from last round.</h2>

    <ul>
        <li>0: Unwrap one of your gifts. If all gifts are unwrapped, next person.</li>
        <li>1: Put one of your presents back in the pile (wrapped or unwrapped)</li>
        <li>2: The next person is skipped</li>
        <li>3: Give one of your gift to the next person (wrapped or unwrapped)</li>
        <li>4: Order reverses.</li>
        <li>5: Take one gift from the pile and unwrap it. If there are no gifts in the pile, unwrap one of your gifts.</li>
    </ul>


    <h1>Round 3 - Swapping</h1>

    <h2>Limit of 45 Minues with assignment cards, order continues from last round.</h2>

    <li> 0: Action!</li>
    <li> 1: Give a present to the person to your right.</li>
    <li> 2: The next person is skipped.</li>
    <li> 3: Take a gift from the pile if there are any. Otherwise take a gift from someone.</li>
    <li> 4: Order reverses.</li>
    <li> 5: Action!</li>

</body>

</html>