<div>
    <h1 class="game-name">{{ gameName }}</h1>
</div>
<div>
    <h2 class="player-turn"></h2>
</div>

<div>
  <form id="roll" (click)="btnClickToRoll()">
    <button class="btn striped-shadow white"><span>Roll</span></button>
  </form>
  <form id="action" (click)="btnClickToAction()">
    <button class="btn striped-shadow blue"><span>Action</span></button>
  </form>
  <form id="rules" (click)="btnClickToRules()">
    <button class="btn striped-shadow dark"><span>Rules</span></button>
  </form>
  <form id="start" (click)="btnClickToStart()">
    <button class="btn striped-shadow red"><span>Start</span></button>
  </form>
</div>

<div id="roll-outcome" class="roll-outcome">
    <h1>{{ rollOutcome }}</h1>
</div>

<div id="player-list">
    <ul>
          <li class="show" id="{{ playerName }}" *ngFor="let playerName of playerNames">
              {{ playerName }}
            </li>
    </ul>
</div>
