@import 'https://fonts.googleapis.com/css?family=Bungee+Shade';

*, :after, :before {
  box-sizing: border-box;
}

:focus {
  outline: none;
}
body {
  background: #77bfa1;
}

div {
  margin: 3rem auto;
  max-width: 660px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
button {
  overflow: visible;
  border: 0;
  padding: 0;
  margin: 1.8rem;
}
.btn.striped-shadow span {
  display: block;
  position: relative;
  z-index: 2;
  border: 5px solid;
}
.btn.striped-shadow.white span {
  border-color: #fff;
  color: #fff;
  background: #77bfa1;
}

.btn.striped-shadow.blue span {
  border-color: #4183D7;
  background: #77bfa1;
  color: #4183D7;
}
.btn.striped-shadow.dark span {
  border-color: #393939;
  background: #77bfa1;
  color: #393939;
}

.btn {
  font-family: 'Bungee Shade', sans-serif;
  height: 80px;
  line-height: 65px;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  font-size: 1.35rem;
  transition: opacity .3s, z-index .3s step-end, -webkit-transform .3s;
  transition: opacity .3s, z-index .3s step-end, transform .3s;
  transition: opacity .3s,
    z-index .3s step-end,
    transform .3s,
    -webkit-transform .3s;
  z-index: 1;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  width: 155px;
  height: 48px;
  line-height: 38px;
}

button.btn.striped-shadow.white:after, button.btn.striped-shadow.white:before {
  background-image: linear-gradient(
    135deg,
    transparent 0,
    transparent 5px,
    #fff 5px,
    #fff 10px,
    transparent 10px
  );
}

button.btn.striped-shadow.blue:after, button.btn.striped-shadow.blue:before {
  background-image: linear-gradient(
    135deg,
    transparent 0,
    transparent 5px,
    #4183D7 5px,
    #4183D7 10px,
    transparent 10px
  );
}

button.btn.striped-shadow.dark:after, button.btn.striped-shadow.dark:before {
  background-image: linear-gradient(
    135deg,
    transparent 0,
    transparent 5px,
    #393939 5px,
    #393939 10px,
    transparent 10px
  );
}

button.btn.striped-shadow:hover:before {
  max-height: calc(100% - 10px);
}

button.btn.striped-shadow:after {
  width: calc(100% - 4px);
  height: 8px;
  left: -10px;
  bottom: -9px;
  background-size: 15px 8px;
  background-repeat: repeat-x;
}
button.btn.striped-shadow:after, button.btn.striped-shadow:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  transition: max-height .3s, width .3s, -webkit-transform .3s;
  transition: transform .3s, max-height .3s, width .3s;
  transition: transform .3s, max-height .3s, width .3s, -webkit-transform .3s;
}

.btn.striped-shadow:hover {
  -webkit-transform: translate(-12px, 12px);
  -ms-transform: translate(-12px, 12px);
  transform: translate(-12px, 12px);
  z-index: 3;
}

button.btn.striped-shadow:hover:after, button.btn.striped-shadow:hover:before {
  -webkit-transform: translate(12px, -12px);
  -ms-transform: translate(12px, -12px);
  transform: translate(12px, -12px);
}
button.btn.striped-shadow:before {
  width: 8px;
  max-height: calc(100% - 5px);
  height: 100%;
  left: -12px;
  bottom: -5px;
  background-size: 8px 15px;
  background-repeat: repeat-y;
  background-position: 0 100%;
}

@import url(https://fonts.googleapis.com/css?family=Damion|Montserrat:400,900);
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  background-color: #FD99C8;
  border: 1px solid #000;
  font-family: "Montserrat", sans-serif;
  max-width: 500px;
  margin-top: 120px;
}
.content h1 {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.1em;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: relative;
  display: inline-block;
}
.content h1:before {
  content: attr(data-text);
  position: absolute;
  top: 0.1em;
  left: -0.15em;
  z-index: -1;
  color: #fc5f84;
  animation: before-anim 1.2s infinite;
}
.content h1:after {
  content: attr(data-text);
  position: absolute;
  top: 0.2em;
  left: -0.3em;
  z-index: -2;
  color: lightgreen;
  animation: after-anim 1.2s infinite;
}
.content .content_star {
  position: absolute;
  top: 77%;
  left: 47%;
  width: 50px;
  height: 50px;
  background-image: url(https://cdn140.picsart.com/275056284004211.png?c256x256);
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  animation: rotate-star-anim 2s linear infinite;
}
.content .content_star.star-2 {
  top: 72%;
  left: 65%;
  width: 30px;
  height: 30px;
  animation: rotate-star-anim 1.2s linear infinite;
}
.content .content_star.star-3 {
  width: 38px;
  height: 38px;
  top: 20%;
  left: 85%;
  animation: rotate-star-anim 2s linear infinite;
}
.content .content_star.star-4 {
  width: 34px;
  height: 34px;
  top: 2%;
  left: 10%;
  animation: rotate-star-anim 1s linear infinite;
}
.content .content_star.star-5 {
  width: 46px;
  height: 46px;
  top: -8%;
  left: 45%;
  animation: rotate-star-anim 1.5s linear infinite;
}
.content .content_arrow-wrapper {
  position: absolute;
  right: -20%;
  top: 75%;
  width: 150px;
  height: 150px;
}
.content .content_arrow-wrapper .content_arrow {
  width: 80%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(180deg);
}
.content .content_arrow-wrapper .content_arrow-cute {
  position: absolute;
  font-size: 2.4em;
  margin: 0;
  bottom: 0;
  left: 50%;
  font-family: "Damion", cursive;
  animation: rotate-cute-anim .8s infinite forwards;
  transform: rotate(30deg);
}

@-webkit-keyframes after-anim {
  25% {
    color: #fc5f84;
  }
  50% {
    color: lightgreen;
  }
  76% {
    color: #fc5f84;
  }
  100% {
    color: lightgreen;
  }
}
@-moz-keyframes after-anim {
  25% {
    color: #fc5f84;
  }
  50% {
    color: lightgreen;
  }
  76% {
    color: #fc5f84;
  }
  100% {
    color: lightgreen;
  }
}
@-ms-keyframes after-anim {
  25% {
    color: #fc5f84;
  }
  50% {
    color: lightgreen;
  }
  76% {
    color: #fc5f84;
  }
  100% {
    color: lightgreen;
  }
}
@-o-keyframes after-anim {
  25% {
    color: #fc5f84;
  }
  50% {
    color: lightgreen;
  }
  76% {
    color: #fc5f84;
  }
  100% {
    color: lightgreen;
  }
}
@keyframes after-anim {
  25% {
    color: #fc5f84;
  }
  50% {
    color: lightgreen;
  }
  76% {
    color: #fc5f84;
  }
  100% {
    color: lightgreen;
  }
}
@-webkit-keyframes before-anim {
  25% {
    color: lightgreen;
  }
  50% {
    color: #fc5f84;
  }
  76% {
    color: lightgreen;
  }
  100% {
    color: #fc5f84;
  }
}
@-moz-keyframes before-anim {
  25% {
    color: lightgreen;
  }
  50% {
    color: #fc5f84;
  }
  76% {
    color: lightgreen;
  }
  100% {
    color: #fc5f84;
  }
}
@-ms-keyframes before-anim {
  25% {
    color: lightgreen;
  }
  50% {
    color: #fc5f84;
  }
  76% {
    color: lightgreen;
  }
  100% {
    color: #fc5f84;
  }
}
@-o-keyframes before-anim {
  25% {
    color: lightgreen;
  }
  50% {
    color: #fc5f84;
  }
  76% {
    color: lightgreen;
  }
  100% {
    color: #fc5f84;
  }
}
@keyframes before-anim {
  25% {
    color: lightgreen;
  }
  50% {
    color: #fc5f84;
  }
  76% {
    color: lightgreen;
  }
  100% {
    color: #fc5f84;
  }
}
@-webkit-keyframes rotate-star-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-star-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-ms-keyframes rotate-star-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate-star-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-star-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-cute-anim {
  from {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(30deg);
  }
}
@-moz-keyframes rotate-cute-anim {
  from {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(30deg);
  }
}
@-ms-keyframes rotate-cute-anim {
  from {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(30deg);
  }
}
@-o-keyframes rotate-cute-anim {
  from {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(30deg);
  }
}
@keyframes rotate-cute-anim {
  from {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(30deg);
  }
}




